---
title: 6degrees
work: 6degrees
---
<div class="work">

  <%= partial(:cover, locals: { :work => current_page.data.work }) %>
  
  <div class="story">
    
    <p class="lead">Tailored to its essence, a geometrical fit cut for <a href="http://www.get6degrees.com" target="_blank"><em>6degrees</em></a> &ndash; a self-cleaning and self-updating digital phonebook.</p>
    
    <p class="by">Aen Tan</p>
    
    <p> Initially available on Android and now on iOS, <em>6degrees</em> is a self-updating phonebook that automatically cleans duplicates and backs itself up.</p>
    
    <p>One of the first things I did for 6degrees was to refresh their identity. The old logo although full of homemade goodness was too much like a geek hobby project.</p>
    
    <figure><%= image_tag '/assets/images/work/6degrees1.png', class: 'img-responsive' %></figure>
    
    <p>6degrees is named after the popular theory originally set out by Frigyes Karinthy and popularized by a play written by John Guare – <em>that everyone and everything is six or fewer steps away, by way of introduction, from any other person in the world</em>. This, in essence is what 6degrees is all about – to be a network of contacts where everyone is connected in some way.</p>
    
    <h3>Early Concepts</h3>
    
    <p>I started with metaballs to represent interconnected nodes within a network. I also tried making a telephone receiver look like a number 6. Then I tried to convey a 6 with a phonebook motif. A candidate that came close to being chosen and used was simply the refinement and recoloring (bottom right) of the original logo.</p>
    
    <figure><%= image_tag '/assets/images/work/6degrees5.png', class: 'img-responsive' %></figure>

    <p>I then moved to mathematical contructs to see if I have any non-arbitrary ways to represent 6 degrees of separation. Hexagons are great for this I thought.</p>
    
    <figure><%= image_tag '/assets/images/work/6degrees6.png', class: 'img-responsive' %></figure>
    
    <p>The hexagons and circles led me to the final concept. I decided the number 6 is the way to go, instead of spelling it out as <em>Six</em>. We can also avoid localization problems down the road.</p>
    
    <p>Instead of placing the degree symbol in an arbitrary position. I used the ascender of the 6 as the guide and placed it along the outer curve.</p>
    
    <figure><%= image_tag '/assets/images/work/6degrees2.png', class: 'img-responsive' %></figure>
    
    <p>The counter of the 6 is also placed in the same continuum as the ascender in a configuration similar to the <em>Large Hadron Collider</em> which accelerates protons from the smaller circle into the large circle.</p>
    
    <figure><%= image_tag 'https://upload.wikimedia.org/wikipedia/commons/0/06/Location_Large_Hadron_Collider.PNG', class: 'img-responsive' %></figure>
    
    <p>Being six-sided, the hexagon is the perfect polygon to communicate the concept of <em>six degrees of separation</em>. The hexagon is also one of the most efficient shapes in nature. Bees instinctinctively construct their hives as three-dimensional hexagons because they make for robust stuctures that cost the least wax. Since 6degrees is very much about maintaining a clean and efficient contact list, having a hexagonal frame makes sense.</p>
    
    <figure><%= image_tag '/assets/images/work/6degrees3.png', class: 'img-responsive' %></figure>
    
    <p>Graphite is made up of layers of graphene, each a single atom thick. In graphene carbon atoms are arranged in a hexagonal grid. Carbon nanotubes which are essentially rolled up tubes of graphene owe their strength to this hexagonal nature.</p>

    <p>Hexagons have internal angles of 720°. Each vertice is 120°. A hexagon can be sliced into six equilateral triangles. Each one can be half into two right-angle triangles. Overlaying the hexagon over the outer circle I broke it into twelve equal parts.</p>
    
    <figure><%= image_tag '/assets/images/work/6degrees4.png', class: 'img-responsive' %></figure>
    
    <p>The four equal segments of the top-left quadrant of the cake determines the the symmetry of the 6 and the distance from the terminal to the degree symbol. This manner of constructing the 6 feels stable and balanced. As a result the 6 despite being heavier on its left side stays in equilibrium because of its attachment to the degree symbol.</p>
    
    <p>Here’s the logo as a animated buildup to its final shapes showing the underlying geometry.</p>
    
    <figure><%= image_tag 'http://d13yacurqjgara.cloudfront.net/users/28163/screenshots/1443365/geometry.gif', class: 'img-responsive' %></figure>
    
    <p>Cornflower blue and a cyan shade was chosen to convey modern pastelecent aesthetic. The result is a bright and lively mark. Does the colors lift your mood?</p>
    
    <p class="text-center"><span class="color-chip" style="background-color:#5693f9"><span>#5693f9</span></span> <span class="color-chip" style="background-color:#11f4e5"><span>#11f4e5</span></span></p>
    
  </div>
  
  <% link_to '/', class: 'lemon-back' do %>
    <%= partial 'lemons.svg' %>
  <% end %>
  
  <%= partial 'contact' %>
  
</div>