---
title: Curioucity
work: curioucity
---
<div class="work">

  <%= partial(:cover, locals: { :work => current_page.data.work }) %>
  
  <div class="story">
    
    <p class="lead">A horse to rock its debut in SXSW 2012 for <a href="http://jp.techcrunch.com/2012/03/19/jp20120319sxsw2012-1/" target="_blank"><em>Curioucity</em></a> &ndash; hyper-local chat + check-in app made in Tokyo.</p>
    
    <p class="by">Aen Tan</p>
    
    <p>Curioucity is an iPhone app made by O.N.E.R Inc based in Tokyo, which allows its users to quickly initiate chats with others within vicinity.</p>
    
    <figure><%= image_tag '/assets/images/work/curioucity1.png', class: 'img-responsive' %></figure>
    
    <p>The original logo only had a wordmark. Made in-house by the client&rsquo;s own designer, I think while it&rsquo;s beautifully lettered and reminds me of Wes Anderson, it would have been awkward to fit the old logo into an iOS app icon.</p>
    
    <figure><%= image_tag '/assets/images/work/curioucity2.png', class: 'img-responsive' %></figure>
    
    <p>I wanted to design a symbol which can be used standalone, i.e. in profile picture, favicon, etc. A rocking horse came to mind. It&rsquo;s a whimsical image that fits the wordmark perfectly.</p>
    
    <figure><%= image_tag '/assets/images/work/curioucity3.png', class: 'img-responsive' %></figure>
    
    <p>Here it is as an app icon. Much more recognizable is&rsquo;t it?</p>
    
    <figure><%= image_tag '/assets/images/work/curioucity4.png', class: 'img-responsive' %></figure>
    
    <p>Here&rsquo;s team Curioucity exhibiting at SXSW in 2012 wearing my rocking horse on their t-shirts.</p>
    
    <figure><%= image_tag '/assets/images/work/curioucity5.jpg', class: 'img-responsive' %></figure>
    
  </div>
  
  <% link_to '/', class: 'lemon-back' do %>
    <%= partial 'lemons.svg' %>
  <% end %>
  
  <%= partial 'contact' %>
  
</div>