---
title: LifeOpp
work: lifeopp
---
<div class="work">

  <%= partial(:cover, locals: { :work => current_page.data.work }) %>
  
  <div class="story">
    
    <p class="lead">Refined and recolored to recommunicate what it means to be a part of <a href="http://lifeopp.com/"><em>LifeOpp</em></a> &ndash; a job platform for the Singapore service industry.</p>
    
    <p class="by">Aen Tan</p>
    
    <p>LifeOpp wants to improve the lot of service industry professionals and odd job workers by making the industry more transparent and efficient.</p>
    
    <p>The old logo suffered a variety of problems. It&rsquo;s triangular mark was not equilateral, the colors were unharmonious and the word mark was so heavy it got in the way.</p>
    
    <figure><%= image_tag '/assets/images/work/lifeopp1.png', class: 'img-responsive' %></figure>
    
    <p>To fix the irrgular triangle, I redrew it with mathematical precision so all sides are equal. The old mark was sort of based on a palette of fall colors and to me was a little depressing. I decided to ditch the dull colors and kept three of them to create something that more spring and summer. I did adjusted them so they are more balanced. From those three new colors I created an intermediate lighter shade for each.</p>
    
    <figure><%= image_tag '/assets/images/work/lifeopp2.png', class: 'img-responsive' %></figure>
    
    <p>I thought the green and blue would represent land and water. The orange would be sunlight. And LifeOpp would be a planet on which its community would grow and bloom.</p>
    
    <figure><%= image_tag '/assets/images/work/lifeopp3.png', class: 'img-responsive' %></figure>
    
    <p>To avoid changing the logo too radically, I decided to keep the wordmark typeface but opted for a lighter weight to help the logo become more agile.</p>
    
    <p class="text-center"><span class="color-chip" style="background-color:#ff6813"><span>Pumpkin</span></span> <span class="color-chip" style="background-color:#6bb52f"><span>Sushi</span></span> <span class="color-chip" style="background-color:#30a3d4"><span>Curious</span></span><br>
    <span class="color-chip" style="background-color:#fd8350"><span>Coral</span></span> <span class="color-chip" style="background-color:#95cd56"><span>Celery</span></span> <span class="color-chip" style="background-color:#00bdd4"><span>Robin&rsquo;s Egg</span></span></p>
    
  </div>
  
  <% link_to '/', class: 'lemon-back' do %>
    <%= partial 'lemons.svg' %>
  <% end %>
  
  <%= partial 'contact' %>
  
</div>