---
title: Multiply
work: multiply
---
<div class="work">

  <%= partial(:cover, locals: { :work => current_page.data.work }) %>
  
  <div class="story">
    
    <p class="lead">A leafy motif designed for <em>Multiply</em> &ndash; affordable, short term software development courses for those who want practical new skills for a technology-centric future.</p>
    
    <p class="by">Aen Tan</p>
    
    <p>Multiply offers affordable, short term software development courses. The courses which are meant for beginners will help those who want practical new skills for a technology-centric future. Courses are typically five days or less, conducted in 8-student batches and taught by real professional coders. Another highlight is post-course support which other coding courses don’t provide beyond the classroom.</p>
    
    <figure><%= image_tag '/assets/images/work/multiply2.png', class: 'img-responsive' %></figure>
    
    <p>The mark is designed based on sacred geometry and depicts two overlapping leaves drawn over the Flower of Life. The Vesica piscis shape is archetypal for a blade of leaf. There is no simpler geometry by which the leaf can be represented. The plant/growth motif works great for an education brand.</p>
    
    <figure><%= image_tag '/assets/images/work/multiply3.png', class: 'img-responsive' %></figure>
    
    <p>I selected Brandon by HvD as the one single typeface for the identity – Brandon Grotesque for headings and Brandon Text for the body. It’s used on all elements including the wordmark and website text. The identity is deliberately pedestrian so as to come across as far away from pompous as possible.</p>
    
    <figure><%= image_tag '/assets/images/work/multiply4.jpg', class: 'img-responsive' %></figure>
    
    <p>I don&rsquo;t know but I get a sense blue is overused in education-related brands. Since Multiply is teaching people to become coders. I chose Forest Green to represent growth. I hope the green gives people a sense of lively possibility.</p>
    
    <p class="text-center"><span class="color-chip" style="background-color:#2BB673"><span>Forest Green</span></span></p>
    
  </div>
  
  <% link_to '/', class: 'lemon-back' do %>
    <%= partial 'lemons.svg' %>
  <% end %>
  
  <%= partial 'contact' %>
  
</div>