---
title: Sunday
work: sunday
---
<div class="work">

  <%= partial(:cover, locals: { :work => current_page.data.work }) %>
  
  <div class="story">
    
    <p class="lead">The coronas of a midday sun swirling in deep Persian blue was designed for <em>Sunday</em> &ndash; a Singapore-based design studio set up by misfits.</p>
    
    <p class="by">Aen Tan</p>
    
    <p>My initial train of thought led me to first explor the analog approach and look to well-designed hand-lettered logos for inspiration. I experimented with a variety of ways to write each letter and see how well they would fit together.</p>
    
    <figure><%= image_tag '/assets/images/work/sunday3.jpg', class: 'img-responsive' %></figure>
    
    <p>Then I began to explore other motifs such as sunrise and rectangles to see if they can better represent the sun than hand-leterring. Check out the middle finger too.</p>
    
    <figure><%= image_tag '/assets/images/work/sunday4.png', class: 'img-responsive' %></figure>
    
    <figure><%= image_tag '/assets/images/work/sunday5.png', class: 'img-responsive' %></figure>
    
    <p>Then I tried a more visual representation of the sun, drawing inspiration from pagan sun symbols like the one of <a href="http://en.wikipedia.org/wiki/File:Cirque_du_Soleil_logo.svg" target="_blank">Cirque du Soleil</a>. I concluded with a more abstract approach and decided that instead of replicating a pagan sun face, I'd create coronas instead out of hand-drawn letters.</p>
    
    <figure><%= image_tag '/assets/images/work/sunday6.png', class: 'img-responsive' %></figure>
    
    <p>The final corona mark is drawn with a single continuous stroke, much like a Japanese ens&#x14D; &ndash; another familiar circular symbol. While the ens&#x14D; signified minimalism, calmness and <em>mu</em> (emptiness), the corona mark communicated a sense of primordial energy &ndash; a positive opposite.</p>
    
    <figure><%= image_tag '/assets/images/work/sunday2.png', class: 'img-responsive' %></figure>
    
    <p>I set the wordmark in <em>Soleil Bold</em>, primarily for the name of the typeface but also its relative thickness and contrasting angles, which balances it with the corona mark.</p>
    
  </div>
  
  <% link_to '/', class: 'lemon-back' do %>
    <%= partial 'lemons.svg' %>
  <% end %>
  
</div>